.trafficTop {
    background-color: black;
    width: 10px;
    height: 70px;
    margin-left: 82px;
}
.container {
    position: relative;
    background-color: black;
    width: 63px;
    height: 178px;
    margin-left: 50px;
    padding: 7px;
    border-radius: 10px;
}
.light1 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 1px;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    background-color: #990000;
}
.light2 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 57px;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    background-color: #cc6600;
}
.light3 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 113px;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    background-color: #009933;
}
/*declaring the class selected, that has the property for given the glow effect in the light*/
.selected {
    box-shadow: #f8ffcc 0px 0px 50px 20px;
}
